/* 

    This is your chance to color up the debug UI!!! 

    Don't blame John for the ugly CSS. He's slow and color blind. :-) 

*/

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);     
}

TopNav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

MainTabDisplay {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0
}

MainTabDisplay .container {
    margin: 10px;
    padding: 10px;
    /*     
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 0;
    padding-right: 0; */
}

/* 

    Other stuff.....

*/




/* The debugger section */


.ace-editor {
    border: solid 1px silver;
    position: relative;
    height: 100%;
    width: 100%;
}

.APIDebugResults {
    border: solid 1px silver;
    position: relative;
    height: 100%;
    width: 100%;
}


#TabDebugger .api-uri-display {
    position: absolute;

    top: 0;
    height: 30px;
    left: 0;
    right: 30px;
    background-color: rgb(236, 236, 236);
    color: white;
    /* padding-right:1px; */
    /* margin:4px; */
}

#TabDebugger .api-uri-display #api-uri-address {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 3px;

    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: purple;
    font-weight: bold;
    text-overflow: ellipsis;

}



#TabDebugger .api-uri-browse {
    position: absolute;

    top: 0;
    height: 30px;
    /* left: 0; */
    right: 0;
    width: 30px;
    background-color: transparent;
    color: white;
    padding: 1px;
    /* margin:4px; */
    font-size: 20px;
    text-align: center
}












/* 


sidebar 




*/
#TabDebugger #debugger-sidbar {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    width: 150px;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 5px;
    font-family: 'Abel', sans-serif;
}

#debugger-sidbar select {
    background-color: transparent;
    width: 100%;
    color: gold;    
}

#debugger-sidbar .ActionButton {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    font-variant: small-caps;


    border-radius: 6px;

    color: rgb(82, 82, 82);

    left: 0;
    right: 0;

    text-align: center;
    text-decoration: none;

    /* background-color: rgb(212, 212, 212); */
    cursor: pointer;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #ffffff;    
    background: -webkit-radial-gradient(center, ellipse cover, #F5F5F5 0%, rgb(194, 194, 194) 100%);    
}
#debugger-sidbar .ActionButton:hover {
    color: blue;
     
}



/* Main help text classes...  */

.HelpText {
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;    
}

pre {
    margin: 5px;
    padding: 25px;
    background-color: rgb(238, 238, 238);
    height: 80%;
    overflow: auto;
}

pre code {
    white-space: nowrap !important;
}

.buttonclick {
    cursor: pointer;
    color: green;
}

.todo-item {
    color: green;
    font-size: 12px;
}

/* 
FOOTER STYLES!!!!!! 
*/

.footer-row {
    padding-top: 50px;
    margin-bottom: 100px;
    font-family: 'Abel', sans-serif;    
    font-size: 16px;
   
}

.FooterHeading {
    color: green;
    font-size: 18px;
    font-weight: bold;
}
 

.FooterSysInfo {
    color: gray;
    cursor: default;
}

.FooterSysInfo:hover {
    color: silver !important;
    cursor: hand;
}

 

















/* 
split info from https://gist.github.com/jpnelson/52d6f38820c6d028bdf8

slightly modified.... 
*/


.split-container {
    position: absolute;
    left: 150px;
    right: 0;
    top: 35px;
    bottom: 0;
    border: 0;
    background-color: transparent;


}

.split {
    display: flex;
    height: 100%;
    /* border: 1px solid black; */
}

.split-container .split .header {
    width: 100%;
    background-color: rgb(0, 70, 70);
    color: white;
    cursor: default;
    border: solid 1px silver;
    padding: 2px;

    text-shadow: 1px 1px 1px #202020;    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* font-variant: small-caps; */
}


.split> :nth-child(1) {
    overflow: scroll;
}

.split> :nth-child(2) {
    flex-grow: 1;
}

/* Vertical */

.split.vertical {
    flex-direction: column;
}

.split.vertical> :nth-child(1) {
    resize: vertical;
}

/* Horizontal */

.split.horizontal {
    flex-direction: row;
}

.split.horizontal> :nth-child(1) {
    resize: horizontal;
}




/* 
 Bad results here!
.split div {} 
*/