/* 

    This is your chance to color up the debug UI!!! 

    Don't blame John for the ugly CSS. He's slow and color blind. :-) 

*/

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


smallscreen {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-top: 25px;
    background-color: black;
    border: solid 1px silver;
    /* background: -webkit-radial-gradient(center, ellipse cover, rgb(116, 116, 116) 0%, rgb(0, 0, 0) 50%); */
    color: red;
    text-shadow: 1px 1px 1px #444444;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}


desktop {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}


@media only screen and (max-width: 500px) {
    desktop {
        display: none;
    }

    smallscreen {
        display: block;
    }
}


sidemenu {
    background-color: rgb(70, 70, 70);
    color: blue;

    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* right: 0 */
    width: 40px;
    border: solid 1px rgb(141, 141, 141);
}

sidemenu .t-menu {
    background-color: transparent;
}

sidemenu li {
    color: white !important;
    text-shadow: 1px 1px 1px #6e6e6e;
}

sidemenu li:hover {
    color: rgb(200, 192, 235) !important;
}

sidemenu .selected-maintab {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}





TopNav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

MainTabDisplay {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    right: 0;
}

MainTabDisplay#GitHubLinks {
    margin: 15px;
    padding: 10px;
    overflow: auto;
}

MainTabDisplay .container {
    margin: 10px;
    padding: 10px;
    /*     
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 0;
    padding-right: 0; */
}







/* 


Logger 

*/

#HistoryLogger #LoggerCalendar {
    /* background-color: blue; */
    border: solid 1px rgb(235, 235, 235);
    margin: 0;
    padding: 0;
}


#HistoryLogger #LogTree {
    position: absolute;
    top: 365px;
    bottom: 0;
    left: 0;
    right: 0;
}

#LogTree i {
    color: rgb(14, 14, 212) !important;

    padding-right: 10px;
}

#LogTree .LgCnt {
    color: rgb(1, 77, 48) !important;
    padding-right: 10px;
    /* text-shadow: 1px 1px 1px #000000; */
    font-weight: bold;
}


MainTabDisplay LoggerTable {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 250px;
    right: 0;



    display: none;
    margin: 0;
    padding: 10px;
    background-color: transparent !important;
    color: black;
    /* height: 100%;
    */
    /* width: 100%; */

    overflow: auto !important;
}


LoggerTable .LoggerLabel {
    color: rgb(78, 1, 78);
    font-size: 18px;
    text-shadow: 1px 1px 1px #f3f3f3;
}

LoggerTable table {
    /* margin: 0;
    padding: 0;
    height: 100% !important; */
    /* background-color: blue !important; */
    width: 100%;
    color: red;
}







/* Main Display */

MainTabDisplay .h-menu {
    background-color: rgb(0, 0, 54);
}

MainTabDisplay .h-menu a {
    color: white;
}

MainTabDisplay .h-menu li:hover {
    color: gold;
}


/* 

    Other stuff.....

*/




/* The debugger section */


.ace-editor {
    border: solid 1px silver;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    /* height: 100%; */
    /* width: 100%;     */
}

.APIDebugResults {
    border: solid 1px silver;
    /* position: relative;
    height: 100%;
    width: 100%; */
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}































#TabDebugger {
    background-color: rgb(49, 49, 49);
}


#TabDebugger .api-uri-browse {
    position: absolute;

    top: 0;
    height: 30px;
    left: 0;
    /* right: 0; */
    width: 30px;
    background-color: transparent;

    padding: 1px;
    /* margin:4px; */
    font-size: 20px;
    text-align: center;

}





#TabDebugger .DebugToolbar {
    /* position: absolute;
    top: 0;
    height: 88px;
    right: 0; */

    /* background-color: rgb(236, 236, 236); */
    background-color: transparent;
    display: inline-block;
    white-space: nowrap;
    padding-left: 5px;
}

#TabDebugger .DebugToolbar .dropdown-button {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-variant: small-caps;
    border-radius: 6px;
    color: white;
    background-color: rgb(66, 66, 66) !important;

}

#TabDebugger .DebugToolbar .dropdown-button:hover {
    background-color: rgb(66, 66, 66) !important;
    color: black !important;

}

#TabDebugger .DebugToolbar .button {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-variant: small-caps;
    border-radius: 6px;
    color: white;
    background-color: rgb(66, 66, 66) !important;
}

#TabDebugger .DebugToolbar .button:hover {

    color: black !important;
    background-color: rgb(192, 192, 192) !important;
}




/* I just can't delete this code for some reason! lol */
.AAAAAA_ActionButton {

    left: 0;
    right: 0;

    text-align: center;
    text-decoration: none;

    /* background-color: rgb(212, 212, 212); */
    cursor: pointer;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #ffffff;
    background: -webkit-radial-gradient(center, ellipse cover, #F5F5F5 0%, rgb(194, 194, 194) 100%);
}




/* Main help text classes...  */
.AppUpdates {
    color: rgb(28, 5, 90);
    font-size: 14px;
    /* font-weight: bold; */
    /* font-family: 'PT Sans', sans-serif; */
    border: solid 1px silver;
    padding: 5px;

}

.HelpText {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

pre {
    margin: 5px;
    padding: 25px;
    background-color: rgb(238, 238, 238);
    height: 80%;
    overflow: auto;
}

pre code {
    white-space: nowrap !important;
}

.buttonclick {
    cursor: pointer;
    color: green;
}




/* 






SysInfo STYLES!!!!!! 
*/

.SysInfoItem {
    padding-top: 5px;
    /* margin-bottom: 20px; */
    /* border: solid 1px blue; */

}

.SysInfoHeading {
    font-family: 'PT Sans', sans-serif;
    color: green;
    font-size: 22px;
    font-weight: bold;
}


.SysInfoItem .SysInfoLabel {
    color: rgb(36, 17, 88);
    cursor: default;
    font-size: 18px;
}

.SysInfoItem .SysInfoValue {
    color: rgb(119, 119, 119);
    cursor: default;
    font-size: 14px;
}
















/* 
split info from https://gist.github.com/jpnelson/52d6f38820c6d028bdf8

slightly modified.... 
*/


.split-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 43px;
    bottom: 0;
    border: 0;
    background-color: transparent;
}

.split-header {
    position: absolute;
    top: 0;
    height: 30px;
    left: 0;
    right: 0;
    /* width: 100%; */
    background-color: rgb(0, 70, 70);
    color: white;

    cursor: default;

    border: solid 1px silver;
    padding: 2px;

    text-shadow: 1px 1px 1px #202020;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* font-variant: small-caps; */
}

.split-header .iconbuttons {
    position: absolute;
    right: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    font-variant: small-caps;
    border-radius: 6px;

    color: rgb(82, 82, 82);
}

.split-header .iconbuttons a {
    color: rgb(232, 227, 255);
    text-decoration: none;
    padding-left: 10px;
    /* background: -webkit-radial-gradient(center, ellipse cover, #F5F5F5 0%, transparent 100%); */

}

.split-header .iconbuttons a:hover {
    color: gold;
}