smallscreen {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-top: 25px;
    background-color: black;
    border: solid 1px silver;
    /* background: -webkit-radial-gradient(center, ellipse cover, rgb(116, 116, 116) 0%, rgb(0, 0, 0) 50%); */
    color: red;
    text-shadow: 1px 1px 1px #444444;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}


desktop {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}


@media only screen and (max-width: 500px) {
    desktop {
        display: none;
    }

    smallscreen {
        display: block;
    }
}


sidemenu {
    background-color: rgb(70, 70, 70);
    color: blue;

    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* right: 0 */
    width: 40px;
    border: solid 1px rgb(141, 141, 141);
}

sidemenu .t-menu {
    background-color: transparent;
}

sidemenu li {
    color: white !important;
    text-shadow: 1px 1px 1px #6e6e6e;
}

sidemenu li:hover {
    color: rgb(200, 192, 235) !important;
}

sidemenu .selected-maintab {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}


/* Main Display menus */


MainTabDisplay .h-menu {
    /* background-color: rgb(0, 0, 54); */
    background-color: rgb(49, 49, 49);
}

MainTabDisplay .h-menu a {
    color: white;
}

MainTabDisplay .h-menu li:hover {
    color: gold;
}

 
MainTabDisplay .container {
    margin: 10px;
    padding: 10px;
    /*     
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 0;
    padding-right: 0; */
}

/* Main help text classes...  */
.AppUpdates {
    color: rgb(28, 5, 90);
    font-size: 14px;

    border: solid 1px silver;
    padding: 5px;

}



.HelpText {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

pre {
    margin: 5px;
    padding: 25px;
    background-color: rgb(238, 238, 238);
    height: 80%;
    overflow: auto;
}

pre code {
    white-space: nowrap !important;
}

.buttonclick {
    cursor: pointer;
    color: green;
}



/* 

SysInfo STYLES!!!!!! 
*/

.SysInfoItem {
    padding-top: 5px;
    /* margin-bottom: 20px; */
    /* border: solid 1px blue; */

}

.SysInfoHeading {
    font-family: 'PT Sans', sans-serif;
    color: green;
    font-size: 22px;
    font-weight: bold;
}


.SysInfoItem .SysInfoLabel {
    color: rgb(36, 17, 88);
    cursor: default;
    font-size: 18px;
}

.SysInfoItem .SysInfoValue {
    color: rgb(119, 119, 119);
    cursor: default;
    font-size: 14px;
}

