/* grr */

body {
    background: -webkit-radial-gradient(center, ellipse cover, #F5F5F5 0%, #E0E0E0 100%);
    padding:20px;overflow:auto;
}


#FAQ .panel-title a {
    color: purple;
    font-size: 18px;
    text-decoration: none;
    cursor: hand;

}

nav .nav-item.active {
    /* background: -webkit-radial-gradient(center, ellipse cover, rgb(228, 228, 228) 5%, transparent 80%) !important; */
    border: solid 1px silver;
    color: black;
}

.folderheader {
    color: rgb(0, 0, 122);
    font-size: 16px;
}

.folderdesc {
    color: rgb(80, 80, 80);
    font-size: 14px;
}