/* grr */

body {
    background: -webkit-radial-gradient(center, ellipse cover, #F5F5F5 0%, #E0E0E0 100%);
}


#FAQ .panel-title a {
    color: purple;
    font-size: 18px;
    text-decoration: none;
    cursor: hand;

}