JSONThiefDisplay {
    z-index: 5000;
    position: fixed;
    display: block;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    color: white;
    background-color: black;
    border: solid 2px black;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    cursor: default;
}

JSONThiefDisplay qrybox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    border: solid 2px rgb(158, 158, 158);


    height: 25px;
    margin: 1px;
}

JSONThiefDisplay qrybox .label {

    position: absolute;
    top: 0;
    left: 3px;
    height: 50px;
    font-size: 20px;
    color: gold;
    /* background-color: transparent; */
    /* background-color: gray; */
    cursor: default;
}

JSONThiefDisplay qrybox .spantext {
    position: absolute;
    top: 0;
    left: 5px;
    right: 1px;
    margin-left: 65px;

}

JSONThiefDisplay qrybox input {
    position: relative;
    font-size: 20px;

    color: rgb(151, 247, 127);
    border: none;
    outline: none;
    border-color: transparent;
    box-shadow: none;
    width: 100%;
    background-color: rgb(48, 48, 48);
    padding-left: 3px;
    padding-right: 3px;

}

/*
ResultsSearch Main Display...
*/
JSONThiefDisplay ResultStats {
    display: block;
    position: absolute;
    top: 31px;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;

    border: solid 2px black;

    /* background-color: rgb(184, 184, 184); */
}


JSONThiefDisplay ResultStats statgroup {
    /* border:solid 1px green; */
    font-size: 18px;
    /* background-color: black; */
    white-space: nowrap;
}

JSONThiefDisplay ResultStats statgroup stlabel {
    display: inline;
    color: blue;
    font-family: 'PT Sans', sans-serif;
}

JSONThiefDisplay ResultStats statgroup stvalue {
    display: inline;
    color: rgb(53, 148, 143);
    font-family: 'Roboto', sans-serif;
}

JSONThiefDisplay ResultsSearch {
    display: block;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;

    /* border: solid 2px gold; */

    /* background-color: rgb(184, 184, 184); */
    color: white;
}

JSONThiefDisplay ResultsSearch table {
    /* border: solid 2px white; */
    width: 100%;
}

JSONThiefDisplay ResultsSearch table thead tr td {
    color: gray;
    font-size: 18px;

    white-space: nowrap;
    padding-left: 2px;
    padding-right: 15px;
}

JSONThiefDisplay ResultsSearch td {
    color: gold;
}