/* JSONThieMenu {
    z-index: 5000;
    position: fixed;
    display: block;
    top: 15px; 
    right: 35px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: solid 2px black;

    margin: 0;
    padding: 2px;

    cursor: default;
    
    text-align: center;

    background-color: rgb(56, 56, 56);

    text-shadow: 1px 1px 1px rgb(253, 253, 253);
}

JSONThieMenu i {
    color: rgb(204, 204, 204);
    font-size: 30px;
}

JSONThieMenu:hover {
    color: gray;
    background-color: rgb(134, 134, 134);
    text-shadow: 1px 1px 1px black;
} */





/* The main display */

JSONThiefDisplay {
    z-index: 5000;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: black;
    border: solid 2px silver;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    cursor: default;
    overflow: hidden;

}



JSONThiefDisplay sidebaropts {
    display: block;
    /* border: solid 1px gold; */
    white-space: normal;
    margin: 0;
    /* padding:0; */
    width: 35px;
    height: 100%;
    bottom: 0;
    text-align: center;
    padding: 2px;
    border: solid 2px rgb(88, 88, 88);
}

JSONThiefDisplay sidebaropts icon {
    display: block;
    font-size: 20px;
    width: 33px;
    color: rgb(197, 190, 228);
    border: solid 1px transparent;
    padding-top: 3px;
    padding-bottom: 3px;
    /* opacity: .8; */
}

JSONThiefDisplay sidebaropts icon:hover {
    color: white;
    /* background-color: white; */
    border: solid 1px rgb(119, 119, 119);
}

JSONThiefDisplay disptab {
    display: block;
    /* position: relative;
    padding-left: 40px;
    margin: 0;
    height: 100%;
    width: 100%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 43px;
    right: 0;
    color: white;
    /* background-color: rgb(41, 41, 41); */
    /* border: solid 2px rgb(88, 88, 88); */
}





/* 

The qry box!

*/
JSONThiefDisplay qrybox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    border: solid 2px rgb(158, 158, 158);
    height: 25px;
    margin: 1px;
}

JSONThiefDisplay qrybox .label {

    position: absolute;
    top: 0;
    left: 3px;
    height: 50px;
    font-size: 20px;
    color: gold;
    /* background-color: transparent; */
    /* background-color: gray; */
    cursor: default;
}

JSONThiefDisplay qrybox .spantext {
    position: absolute;
    top: 0;
    left: 5px;
    right: 1px;
    margin-left: 65px;

}

JSONThiefDisplay qrybox input {
    position: relative;
    font-size: 20px;

    color: rgb(151, 247, 127);
    border: none;
    outline: none;
    border-color: transparent;
    box-shadow: none;
    width: 100%;
    background-color: rgb(48, 48, 48);
    padding-left: 3px;
    padding-right: 3px;


}

/*
ResultStats Main Display...
*/
JSONThiefDisplay ResultStats {
    display: block;
    position: absolute;
    top: 31px;
    height: 20px;
    bottom: 0;
    left: 0;
    /* width:100%; */

    right: 0;
    color: white;

    border: solid 2px black;

    /* background-color: rgb(184, 184, 184); */
    white-space: nowrap;
}


JSONThiefDisplay ResultStats statgroup {
    /* border:solid 1px green; */
    font-size: 18px;
    /* background-color: black; */
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 20px;


}

JSONThiefDisplay ResultStats statgroup stlabel {
    display: inline;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

JSONThiefDisplay ResultStats statgroup stlabel i {
    color: gold;
}

JSONThiefDisplay ResultStats statgroup stvalue {
    display: inline;
    color: rgb(53, 148, 143);
    font-family: 'Roboto', sans-serif;
}



/*
ResultsSearch Main Display...
*/
JSONThiefDisplay ResultsSearch {
    display: block;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 38px;
    right: 0;

    /* border: solid 2px gold; */

    /* background-color: rgb(184, 184, 184); */
    color: white;
}

JSONThiefDisplay ResultsSearch table {
    /* border: solid 2px white; */
    width: 100%;
}

JSONThiefDisplay ResultsSearch table thead tr td {
    color: gray;
    font-size: 18px;

    white-space: nowrap;
    padding-left: 2px;
    padding-right: 15px;
}

JSONThiefDisplay ResultsSearch td {
    color: gold;
}

JSONThiefDisplay ResultsSearch table tbody tr td i {
    color: white;
    text-shadow: 1px 1px 1px #3b3b3b;
}

JSONThiefDisplay ResultsSearch table tbody tr td i:hover {
    color: gold;
    text-shadow: 1px 1px 1px #ececec;
}