infopanel {
    position: relative;
    display: block;
    /* border: solid 1px gold; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

infopanel a {
    color: white;
    text-decoration: none;
}

infopanel blocks {

    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: [col1-start] 250px [col2-start] 200px [col3-start] auto [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    background-color: #fff;
    /* color: #444; */
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 16px;


}


infopanel blocks block {

    color: rgb(184, 184, 184);
    border-radius: 5px;
    padding: 5px;
    border: solid 1px rgb(109, 109, 109);

}


infopanel blocks block.HeaderPanel {
    grid-column: col1-start / col3-start;
    grid-row: row1-start;
    color: gold;
    font-size: 20px;
    margin: 0;
}


infopanel blocks block.HeaderPanel i {
    color: rgb(185, 185, 185);
}


infopanel blocks block.VersionInfo {
    grid-column: col1-start;
    grid-row: row2-start;
    color: rgb(151, 155, 100);
}

infopanel blocks block.StatsList {
    grid-column: col2-start;
    grid-row: row2-start;
    color: rgb(156, 245, 168);
}

infopanel blocks block infolabel {
    color: rgb(203, 201, 236);
}

infopanel blocks block infovalue {
    color: rgb(158, 158, 218);
}

infopanel blocks block verlabel {
    color: rgb(198, 214, 195);
}

infopanel blocks block vervalue {
    color: rgb(107, 206, 67);
}

/*
    The logging...
*/
 
infopanel blocks block.QuickLog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    grid-column: col3-start;
    grid-row: row1-start / row2-end;
    color: rgb(255, 252, 234);
    /* width:100%;
    height:100%; */
    overflow-y: auto;
}

infopanel blocks block.QuickLog .QuickLogList QuickLogItem QuickLogList {
    position: relative;
    /* display: block; */
    border: solid 1px blue;
    width: 100%;

    /* white-space: nowrap; */
    margin: 0;
    padding: 0;
    display: grid;


    grid-column: col 3 / span 2;
    grid-row: row 2;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;

}



infopanel blocks block.QuickLog .QuickLogList QuickLogItem {
    display: block;
    position: relative;
    border: solid 1px gold;
    width: 100%;

    /* white-space: nowrap; */
    margin: 0;
    padding: 0;
}

infopanel blocks block.QuickLog .QuickLogList QuickLogItem dt {
    position: relative;

    /* left: 0; */
    /* top: 0; */
    /* right: 150px; */

    /* height: 50px; */
    /* display: inline-block; */

    grid-column: 1 / 3;
    grid-row: 1;

    border: solid 2px white;
    color: green;
    width: 120px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

infopanel blocks block.QuickLog .QuickLogList QuickLogItem topic {
    position: relative;
    /* top: 0; */
    /* left: 160px; */
    /* right: 0; */
    /* display: inline-block; */
    grid-column: 1;
    grid-row: 2;

    border: solid 2px yellow;
    color: white;
    /* width: 100px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

infopanel blocks block.QuickLog .QuickLogList QuickLogItem lgbody {
    /* display: block; */
    /* position: static; */
    grid-column: 2;
    grid-row: 2;

    /* padding-top: 150px; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */

    border: solid 2px blue;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}